In [40]:
import pandas as pd
import writeToDb as db

db.writeToDb(1, gesamtzeit, rundenzeit, zeit01, zeit12, zeit23, zeit30, liveZeit)

In [72]:
df = pd.read_csv("test.csv")
df[['Teamname', ' Checkpoint1', ' Checkpoint2', ' Checkpoint3', ' Checkpoint4']]

     Teamname   Checkpoint1   Checkpoint2   Checkpoint3   Checkpoint4
0           X           3.0           3.0           7.0           4.0
1  Optimus Pi           5.0           3.0           4.0           4.0
2           X           5.0           5.0           9.0           3.0

In [74]:
df['Teamname'].count()

3

In [84]:
name = df[' Checkpoint1'][2]

print(name)

## l

## dfall = df.append(dfa)

In [86]:
print(name)

5.0

In [62]:
df2.append({' Gesamtzeit':50}, ignore_index = True)

,Teamname,Teammitglieder,Gesamtzeit,Rundenzeit,Checkpoint1,Checkpoint2,Checkpoint3,Checkpoint4,Info,Datum
0,X,Goekhan; Alex; Julia,46.0,19.0,3.0,3.0,7.0,4.0,empty,23.01.2018 14:09:45
1,Optimus Pi,Amdi; Basti; Patrick,38.0,16.0,5.0,3.0,4.0,4.0,Erschaffen in den Flammen Mordors; gekommen u...,23.01.2018 14:15:25
2,X,Goekhan; Alex; Julia,54.0,26.0,5.0,5.0,9.0,3.0,empty,23.01.2018 14:30:30
3,NaN,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
df3=df2[0:2]
df3

,Teamname,Teammitglieder,Gesamtzeit,Rundenzeit,Checkpoint1,Checkpoint2,Checkpoint3,Checkpoint4,Info,Datum
0,X,Goekhan; Alex; Julia,46.0,19.0,3.0,3.0,7.0,4.0,empty,23.01.2018 14:09:45
1,Optimus Pi,Amdi; Basti; Patrick,38.0,16.0,5.0,3.0,4.0,4.0,Erschaffen in den Flammen Mordors; gekommen u...,23.01.2018 14:15:25

In [67]:
df3.append({' Gesamtzeit':50, 'Teamname' : "X"}, ignore_index = True)

,Teamname,Teammitglieder,Gesamtzeit,Rundenzeit,Checkpoint1,Checkpoint2,Checkpoint3,Checkpoint4,Info,Datum
0,X,Goekhan; Alex; Julia,46.0,19.0,3.0,3.0,7.0,4.0,empty,23.01.2018 14:09:45
1,Optimus Pi,Amdi; Basti; Patrick,38.0,16.0,5.0,3.0,4.0,4.0,Erschaffen in den Flammen Mordors; gekommen u...,23.01.2018 14:15:25
2,X,Goekhan; Alex; Julia,54.0,26.0,5.0,5.0,9.0,3.0,empty,23.01.2018 14:30:30
3,X,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
df3[['Teamname', ' Checkpoint1', ' Checkpoint2', ' Checkpoint3', ' Checkpoint4']]

     Teamname   Checkpoint1   Checkpoint2   Checkpoint3   Checkpoint4
0           X           3.0           3.0           7.0           4.0
1  Optimus Pi           5.0           3.0           4.0           4.0

In [87]:
teams = ['x','Optimus Pi','alex']

In [88]:
teams[1]

'Optimus Pi'

In [91]:
df3['Teamname'].count()

2

In [98]:
df4=df3.append({'Teamname' : 1, ' Checkpoint1' : 2}, ignore_index = True)

In [101]:
global cdf4['Teamname'][2]

1.0

In [201]:
import time
def func(activeCheckpoint, teamid, starttime):
    df = pd.read_csv("test.csv")
    df = df[['Teamname', ' Checkpoint1', ' Checkpoint2', ' Checkpoint3', ' Checkpoint4']]
    entries = df['Teamname'].count()
    teams = ['Racetrack', 'Optimus Pi', 'X', 'Team2', 'Pink Danger', 'Racing Team 1', '', 'The Speedcoders']
    if activeCheckpoint == 1:
        global checkpoints
        checktime = time.time()-starttime
        checkpoints = [checktime,'NaN','NaN','NaN']
        print(checkpoints[0])
        df = df.append({'Teamname' : teams[teamid], ' Checkpoint1' : checktime}, ignore_index = True)
    else:
        teamname = df['Teamname'][entries]
        print(teamname)
        toLastCheckpoint = checkpoints[(activeCheckpoint-2)%4]
        check = "Checkpoint"
        check += str(activeCheckpoint%4)
        checkpoints[(activeCheckpoint-1)%4] = time.time() - starttime - toLastCheckpoint
        print(checkpoints[(activeCheckpoint-1)%4])

In [170]:
checkpoints[0]

0.0395960807800293

In [203]:
func(2, 2, t)

4.311763525009155

In [183]:
t = time.time()

In [180]:
t

1516726881.2969844

In [196]:
teams = ['Racetrack', 'Optimus Pi', 'X', 'Team2', 'Pink Danger', 'Racing Team 1', '', 'The Speedcoders']

In [197]:
teams[4]

'Pink Danger'